:root {
    --dark: #000;
    --light: #fff
}

.main {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 38px;
    line-height: 50px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100% !important;
    height: 100%;
    display: flex;
    align-items: center;
}

.container2 {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("/assets/illustrations/blob (2).svg"), linear-gradient(180deg, rgba(0, 123, 255, 1) 0%, rgba(35, 180, 215, 1) 100%) !important;
    background-repeat: no-repeat !important;
}

section .wave {
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    background: url("/assets/illustrations/wave-6.svg");
    animation: animate 10s linear infinite;
}

section .wave:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    background: url("/assets/illustrations/wave.png");
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1440px;
    }
}

.hero-text {
    padding-top: 20px;
    display: flex;
    align-items: center;
    /* justify-content: space-aro; */
}

.hero-text p {
    font-size: 16px !important;
    line-height: 26px;
    font-family: 'Lato', sans-serif;
}

input {
    width: 80% !important;
}

button {
    background: #fff;
}

form {
    display: flex;
    justify-content: space-between;
}

.col-md-6 {
    padding: 0 40px;
}

.popular span {
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

button {
    font-family: 'Lato', sans-serif;
}

.author i {
    color: #ffc002;
    font-size: 12px;
}

.vector {
    background: url("/assets/illustrations/blob (3).svg");
    background-position: 100px -100px;
}

@media screen and (max-width: 780px) {
    .vector img {
        display: none;
    }
    .hero-text {
        margin-top: 180px;
    }
}

.search-bar {
    height: 100%;
}

.search-bar h1 {
    font-size: 50px;
    margin-bottom: 2rem;
}