<div class="container my-5">
  <h1>Most In Demand Jobs in Cameroon</h1>

  <p>
    Click on a career to discover the possible institutions you can take to
    pursue the path
  </p>

  <input
    type="text"
    placeholder="Enter a job to find its path"
    class="form-control my-3"
    [(ngModel)]="listFilter"
  />
  <p>Filtered By: {{ listFilter }}</p>

  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let career of filteredCareerArray"
    >
      {{ career.title }}
    </li>
  </ul>
</div>
