/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */

.main{
    margin: 0 0 100px 0;
    /* height: 100vh; */
    /* padding: 50px 0; */
}
.hero-text{
    /* background: #000; */
    padding: 20px;
}
.hero-text h1{
    font-size: 38px;
    line-height: 50px;
    text-transform: capitalize;
    font-weight: 900;
    color: #1e0975;
    font-family: 'Lato', sans-serif;
    text-align: center;  
}
.hero-text p{
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.second{
    margin-top: 40px !important;
    /* background: #000 !important; */
    display: flex;
    justify-content: space-around;

}
.col-md-3 {
    box-shadow: -1px 1px 6px 1px #dfdfdfbf;
    border-radius: 10px;
    padding: 30px 20px;
    margin:20px 2px;
}

.career{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    color: #161616;
    font-family: 'Lato', sans-serif;
    padding: 20px;
}
.second p:nth-child(3){
    color: #4d587a;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
button{
    transition: 0.7s;
}
button:hover{
    background: #FFC108;
    color: #000;
    border: 1px solid #FFC108;
    transition: ease-in-out 0.7s;

}
input{
    width: 100%;
}
input:focus{
    border: 1px solid var(--primary);
    box-shadow: none;
}
.center-input{
    width: 70%;
    margin: 0 auto;
    
}

/* New Career Css */



.career {
    /* width: 100%; */
    height: auto;
    padding: 50px 0 70px 0;
}

#career-list {
    /* width: 100%; */
    height: auto;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}
.career-article {
    width: 100%;
    height: 300px;
    
}
.career-title {
    /* width: 100%; */
    height: 100%;
    transition-duration: 1s;
}
.career-article:hover .career-title div {
    padding: 0;
    text-align: center;
    display: grid;
    align-content: center;
    transition-duration: .3s;
    background-color: #f89523d7;
    box-shadow: 4px 4px 1px 1px  hsl(240, 3%, 28%);
}
.career-article:hover .career-title img {
    width: 60%;
    margin: 0 auto;
    transition-duration: .3s;
}

.career-article:hover .career-title {
    width: 60px;
    height: 60px;
    transition-duration: .3s;
}
.career-article:hover .career-title h3 {
    margin: 0;
    display: none;
    transition-duration: .3s;
}
.vision {
    background: url("/assets/images/car5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.career-title div {
    width: 100%;
    height: 100%;
    background-color: #0067abc0;
    color: #fff;
    text-align: center;
    display: grid;
    align-content: center;
    transition-duration: 1s;
}
.career-title img {
    width: 30%;
    margin: 0 auto;
    transition-duration: .3s;
}
.career-title h3 {
    margin-top: 20px;
    font-size: 40px;
    transition-duration: .3s;
}
.career-content {
    width: 85%;
    height: 240px;
    margin-left: 60px;
    padding: 20px;
    border-bottom: 2px solid #eee;
    border-right: 2px solid #eee;
    display: none;
    transition-duration: 1s;
    box-shadow: 4px 4px 1px 1px  hsl(240, 3%, 28%);
}
.career-article:hover .career-content {
    display: block;
    transition-duration: 1s;
}
.career-content h4 {
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f89623;
}
.career-content p {
    font-size: 18px;
    line-height: 1.5;
}