/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */

.main{
    margin: 50px 0 100px 0;
    /* height: 100vh; */
    padding: 50px 0;
}
.hero-text{
    /* background: #000; */
    padding: 20px;
}
.hero-text h1{
    font-size: 38px;
    line-height: 50px;
    text-transform: capitalize;
    font-weight: 900;
    color: #1e0975;
    font-family: 'Lato', sans-serif;
    
  
}
.hero-text p{
    font-size: 18px;
    line-height: 25px;
}
.second{
    margin-top: 40px !important;
    /* background: #000 !important; */
    display: flex;
    justify-content: space-around;

}
.col-md-3 {
    box-shadow: -1px 1px 6px 1px #dfdfdfbf;
    border-radius: 10px;
    padding: 30px 20px;
}
.second .col-md-4{
    /* background: #000; */
    /* padding: 50px; */
}
.career{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #1e0975;
    font-family: 'Lato', sans-serif;
}
.second p:nth-child(3){
    color: #4d587a;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

}