<section class="main">
    <div class="container">
        <div class="text-center hero-text">
            <h1>Features</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptates harum debitis obcaecati
                blanditiis illum saepe rerum consequuntur quas, culpa ullam ut! Quo odio nam suscipit ab delectus,
                consectetur illo?</p>
        </div>
        <div class="second row ">
            <div class="col-md-3 text-center ">
                <img src="assets/icons/scroll.png" alt="">
                <p class=" career my-4">Career</p>
                <p class="my-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid enim dicta quis beatae
                    sunt iste dolorum culpa at totam itaque. Cupiditate eos omnis itaque eveniet! Quam architecto dolor
                    magnam fugit?</p>
            </div>
            <div class="col-md-3 text-center ">
                <img src="assets/icons/icons8-new-job-96.png" alt="">
                <p class=" career my-4">Jobs</p>
                <p class="my-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid enim dicta quis beatae
                    sunt iste dolorum culpa at totam itaque. Cupiditate eos omnis itaque eveniet! Quam architecto dolor
                    magnam fugit?</p>
            </div>
            <div class="col-md-3 text-center ">
                <img src="assets/icons/scholar.png" alt="">
                <p class=" career my-4">Scholarships</p>
                <p class="my-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid enim dicta quis beatae
                    sunt iste dolorum culpa at totam itaque. Cupiditate eos omnis itaque eveniet! Quam architecto dolor
                    magnam fugit?</p>
            </div>


        </div>
    </div>
</section>