<section>
    <div class="container text-white">
        <div class="row">
            <div class="mobile col col-sm-12 col-md-8">
               <h1>Our Careers</h1>
               <p>Find a career which matches your personality, likes, passion and more. We provide a vast list of available and top trending careers for you today!</p>
               <div class="">
                   <button class="btn">Find Career</button>
               </div>
            </div>
            <div class="career col col-md-4 d-sm-none">
                <img src="/assets/images/080af88a8ae50250f0fa247b1c3a012a.png" alt="">
            </div>
        </div>
    </div>
</section>