<section>
    <div class="container text-white">
        <div class="row">
            <div class="col col-md-8">
               <h1>Our Careers</h1>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt magni corrupti dolorem nam fugiat esse qui id? Repudiandae placeat dignissimos nihil temporibus, necessitatibus ducimus quae itaque iure autem soluta consectetur!</p>
               <div class="">
                   <button class="btn">Find Career</button>
               </div>
            </div>
            <div class="col col-md-4">
                <img src="/assets/images/080af88a8ae50250f0fa247b1c3a012a.png" alt="">
            </div>
        </div>
    </div>
</section>