<head> </head>
<div class="page-content">
  <!-- Section Banner -->
  <div class="dez-bnr-inr dez-bnr-inr-md overlay-black-dark" id="amir">
    <div class="container">
      <div class="dez-bnr-inr-entry align-m text-white">
        <div class="job-search-form">
          <h2 class="text-center">The Easiest Way to Get Your Job</h2>
          <h3>Find Jobs, Employment & Career Opportunities</h3>
          <form>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Job Title, Keywords Or Company Name"
              />
              <input
                type="text"
                class="form-control"
                placeholder="City, Province Or Region"
              />
              <div class="input-group-prepend">
                <button class="site-button">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Section Banner END -->
  <!-- About Us -->
  <div
    class="section-full job-categories content-inner-2 bg-white"
    style="background-image: url(assets/images/pattern/pic1.html)"
  >
    <div class="container">
      <div class="section-head text-center">
        <h2 class="m-b5">Popular Categories</h2>
        <h5 class="fw4">{{ jobs.length }}+ Catetories work wating for you</h5>
      </div>
      <div class="row sp20">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="icon-bx-wraper">
            <div class="icon-content">
              <div class="icon-md text-primary m-b20">
                <i class="ti-location-pin"></i>
              </div>
              <a href="#" class="dez-tilte">Design, Art & Multimedia</a>
              <p class="m-a0">198 Open Positions</p>
              <div class="rotate-icon"><i class="ti-location-pin"></i></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="icon-bx-wraper">
            <div class="icon-content">
              <div class="icon-md text-primary m-b20">
                <i class="ti-wand"></i>
              </div>
              <a href="#" class="dez-tilte">Education Training</a>
              <p class="m-a0">198 Open Positions</p>
              <div class="rotate-icon"><i class="ti-wand"></i></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="icon-bx-wraper">
            <div class="icon-content">
              <div class="icon-md text-primary m-b20">
                <i class="ti-wallet"></i>
              </div>
              <a href="#" class="dez-tilte">Accounting / Finance</a>
              <p class="m-a0">198 Open Positions</p>
              <div class="rotate-icon"><i class="ti-wallet"></i></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="icon-bx-wraper">
            <div class="icon-content">
              <div class="icon-md text-primary m-b20">
                <i class="ti-cloud-up"></i>
              </div>
              <a href="#" class="dez-tilte">Human Resource</a>
              <p class="m-a0">198 Open Positions</p>
              <div class="rotate-icon"><i class="ti-cloud-up"></i></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="icon-bx-wraper">
            <div class="icon-content">
              <div class="icon-md text-primary m-b20">
                <i class="ti-bar-chart"></i>
              </div>
              <a href="#" class="dez-tilte">Telecommunications</a>
              <p class="m-a0">198 Open Positions</p>
              <div class="rotate-icon"><i class="ti-bar-chart"></i></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="icon-bx-wraper">
            <div class="icon-content">
              <div class="icon-md text-primary m-b20">
                <i class="ti-tablet"></i>
              </div>
              <a href="#" class="dez-tilte">Restaurant / Food Service</a>
              <p class="m-a0">198 Open Positions</p>
              <div class="rotate-icon"><i class="ti-tablet"></i></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="icon-bx-wraper">
            <div class="icon-content">
              <div class="icon-md text-primary m-b20">
                <i class="ti-camera"></i>
              </div>
              <a href="#" class="dez-tilte">Construction / Facilities</a>
              <p class="m-a0">198 Open Positions</p>
              <div class="rotate-icon"><i class="ti-camera"></i></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="icon-bx-wraper">
            <div class="icon-content">
              <div class="icon-md text-primary m-b20">
                <i class="ti-panel"></i>
              </div>
              <a href="#" class="dez-tilte">Health</a>
              <p class="m-a0">198 Open Positions</p>
              <div class="rotate-icon"><i class="ti-panel"></i></div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 text-center m-t30">
          <button class="site-button radius-xl">All Categories</button>
        </div>
      </div>
    </div>
  </div>
  <!-- About Us END -->
  <!-- Call To Action -->
  <div
    class="
      section-full
      content-inner-2
      call-to-action
      overlay-black-dark
      text-white text-center
      bg-img-fix
    "
    style="background-image: url(images/background/bg4.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="m-b10">Post a job on our platform!</h2>
          <p class="m-b0">
            Have a job listing? Take advantage and post on our platform
          </p>
          <a
            [routerLink]="['/sign-up']"
            routerLinkActive="router-link-active"
            class="site-button m-t20 outline outline-2 radius-xl"
            >Create Job Listing</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Call To Action END -->
  <!-- Our Job -->
  <div class="section-full bg-white content-inner-2">
    <div class="container">
      <div class="d-flex job-title-bx section-head">
        <div class="mr-auto">
          <h2 class="m-b5">Recent Jobs</h2>
          <h5 class="fw4 m-b0">20+ Recently Added Jobs</h5>
        </div>
        <div class="align-self-end">
          <a href="#" class="site-button button-sm"
            >Browse All Jobs <i class="fa fa-long-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <ul class="post-job-bx">
            <li *ngFor="let job of jobs">
              <a [href]="job.link" target="_blank">
                <div class="d-flex m-b30">
                  <div class="job-post-company">
                    <span><img src="images/logo/icon1.png" /></span>
                  </div>
                  <div class="job-post-info">
                    <h4>{{ job.title }}</h4>
                    <ul>
                      <li><i class="fa fa-map-marker"></i> Cameroon</li>
                      <li><i class="fa fa-bookmark-o"></i> Full Time</li>
                      <li>
                        <i class="fa fa-clock-o"></i>
                        {{ formatDate(job.datePublished) }}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="job-time mr-auto">
                    <span>Full Time</span>
                  </div>
                  <div class="salary-bx">
                    <span>50 - 75000 FCFA</span>
                  </div>
                </div>
                <span class="post-like fa fa-heart-o"></span>
              </a>
            </li>
          </ul>
          <div class="m-t30">
            <div class="d-flex">
              <mat-paginator
                class="mt-5 mr-3"
                [length]="21"
                [pageSize]="5"
                [pageSizeOptions]="[3, 5, 8, 10]"
                (page)="onPaginate($event)"
              ></mat-paginator>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="sticky-top">
            <div class="candidates-are-sys m-b30">
              <div class="candidates-bx">
                <div class="testimonial-pic radius">
                  <img
                    src="images/testimonials/pic3.jpg"
                    alt=""
                    width="100"
                    height="100"
                  />
                </div>
                <div class="testimonial-text">
                  <p>
                    I just got a job that I applied for via Jongleur! I used the
                    site all the time during my job hunt.
                  </p>
                </div>
                <div class="testimonial-detail">
                  <strong class="testimonial-name">Sharon Ekema</strong>
                  <span class="testimonial-position">Buea, CM</span>
                </div>
              </div>
            </div>
            <div class="quote-bx">
              <div class="quote-info">
                <h4>Make a Difference with Your Online Resume!</h4>
                <p>
                  Your resume in minutes with Jongleur resume assistant is
                  ready!
                </p>
                <a
                  [routerLink]="['/sign-up']"
                  routerLinkActive="router-link-active"
                  class="site-button"
                  >Create an Account</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Our Latest Blog -->
      <div class="section-full content-inner-2 overlay-white-middle">
        <div class="container">
          <div
            class="
              blog-carousel
              owl-carousel
              owl-btn-center-lr
              owl-btn-3
              owl-theme
              owl-btn-center-lr
              owl-btn-1
            "
          >
            <div class="item">
              <div class="blog-post blog-grid blog-style-1">
                <div class="dez-post-media dez-img-effect radius-sm">
                  <a href="#"><img src="images/blog/grid/pic4.jpg" alt="" /></a>
                </div>
                <div class="dez-info">
                  <div class="dez-post-meta">
                    <ul class="d-flex align-items-center">
                      <li class="post-date">
                        <i class="fa fa-calendar"></i>September 18, 2017
                      </li>
                      <li class="post-comment">
                        <i class="fa fa-comments-o"></i><a href="#">5k</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dez-post-title">
                    <h5 class="post-title font-20">
                      <a href="#"
                        >Do you have a job that the average person doesn even
                        know exists?</a
                      >
                    </h5>
                  </div>
                  <div class="dez-post-text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy..
                    </p>
                  </div>
                  <div class="dez-post-readmore blog-share">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button outline"
                      >READ MORE</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="blog-post blog-grid blog-style-1">
                <div class="dez-post-media dez-img-effect radius-sm">
                  <a href="#"><img src="images/blog/grid/pic3.jpg" alt="" /></a>
                </div>
                <div class="dez-info">
                  <div class="dez-post-meta">
                    <ul class="d-flex align-items-center">
                      <li class="post-date">
                        <i class="fa fa-calendar"></i>September 18, 2017
                      </li>
                      <li class="post-comment">
                        <i class="fa fa-comments-o"></i><a href="#">5k</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dez-post-title">
                    <h5 class="post-title font-20">
                      <a href="#"
                        >Do you have a job that the average person doesn even
                        know exists?</a
                      >
                    </h5>
                  </div>
                  <div class="dez-post-text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy..
                    </p>
                  </div>
                  <div class="dez-post-readmore blog-share">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button outline"
                      >READ MORE</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="blog-post blog-grid blog-style-1">
                <div class="dez-post-media dez-img-effect radius-sm">
                  <a href="#"><img src="images/blog/grid/pic2.jpg" alt="" /></a>
                </div>
                <div class="dez-info">
                  <div class="dez-post-meta">
                    <ul class="d-flex align-items-center">
                      <li class="post-date">
                        <i class="fa fa-calendar"></i>September 18, 2017
                      </li>
                      <li class="post-comment">
                        <i class="fa fa-comments-o"></i><a href="#">5k</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dez-post-title">
                    <h5 class="post-title font-20">
                      <a href="#"
                        >Do you have a job that the average person doesn even
                        know exists?</a
                      >
                    </h5>
                  </div>
                  <div class="dez-post-text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy..
                    </p>
                  </div>
                  <div class="dez-post-readmore blog-share">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button outline"
                      >READ MORE</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="blog-post blog-grid blog-style-1">
                <div class="dez-post-media dez-img-effect radius-sm">
                  <a href="#"><img src="images/blog/grid/pic1.jpg" alt="" /></a>
                </div>
                <div class="dez-info">
                  <div class="dez-post-meta">
                    <ul class="d-flex align-items-center">
                      <li class="post-date">
                        <i class="fa fa-calendar"></i>September 18, 2017
                      </li>
                      <li class="post-comment">
                        <i class="fa fa-comments-o"></i><a href="#">5k</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dez-post-title">
                    <h5 class="post-title font-20">
                      <a href="#"
                        >Do you have a job that the average person doesn even
                        know exists?</a
                      >
                    </h5>
                  </div>
                  <div class="dez-post-text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy..
                    </p>
                  </div>
                  <div class="dez-post-readmore blog-share">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button outline"
                      >READ MORE</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Our Latest Blog -->
    </div>
  </div>
</div>
