<div class="main">
    <section class="hero-text fdb-block team-8" >
        <div class="container">
          <div class="row text-center justify-content-center">
            <div class="col-8">
              <h1>Our Amazing Team</h1>
              <p class="lead1">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
          </div>
      
          <div class="row-100"></div>
      
          <div class="row justify-content-center text-left">
            <div class="col-sm-4">
              <div class="row align-items-center">
                <div class="col-4">
                  <img alt="image" class="img-fluid rounded-circle" src="assets/images/user.jpg">
                </div>
      
                <div class="col-8 my-5">
                  <h3><strong>Lontchi Lionelle</strong></h3>
                  <p class="lead">Female Project Lead</p>
                  <p class="leadtext">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
              </div>
            </div>
      
            <div class="col-sm-4 ">
              <div class="row align-items-center">
                <div class="col-4">
                  <img alt="image"  class="img-fluid rounded-circle" src="assets/images/terricks-noah-NvDSfftzr0U-unsplash (1).jpg">
                </div>
      
                <div class="col-8  my-5">
                  <h3><strong>Apoh Prince</strong></h3>
                  <p class="lead">Backend Guru</p>
      
                  <p class="leadtext">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 ">
              <div class="row align-items-center">
                <div class="col-4">
                  <img alt="image"  class="img-fluid rounded-circle" src="assets/images/terricks-noah-NvDSfftzr0U-unsplash (1).jpg">
                </div>
      
                <div class="col-8  my-5">
                  <h3><strong>Yunwen Eric</strong></h3>
                  <p class="lead">Project Mananger</p>
      
                  <p class="leadtext">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
              </div>
            </div>
          </div>
      
          <div class="row-70"></div>
      
          <div class="row justify-content-center text-left">
            <div class="col-sm-4">
              <div class="row align-items-center">
                <div class="col-4">
                  <img alt="image"  class="img-fluid rounded-circle" src="assets/images/terricks-noah-NvDSfftzr0U-unsplash (1).jpg">
                </div>
      
                <div class="col-8">
                  <h3><strong>Amir Tchakounte</strong></h3>
                  <p class="lead">UI/UX Developer</p>
      
                  <p class="leadtext">One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                </div>
              </div>
            </div>
      
            <div class="col-sm-4">
              <div class="row align-items-center">
                <div class="col-4">
                  <img alt="image"  class="img-fluid rounded-circle" src="assets/images/terricks-noah-NvDSfftzr0U-unsplash (1).jpg">
                </div>
      
                <div class="col-8">
                  <h3><strong>Fadimatou Traore</strong></h3>
                  <p class="lead">Database Designer</p>
      
                  <p class="leadtext">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     
      
      
</div>