<div class="page-content bg-white">
  <!-- inner page banner -->
  <div
    class="dez-bnr-inr overlay-black-middle"
    style="background-image: url(assets/images/job.jpg)"
  >
    <div class="container">
      <div class="dez-bnr-inr-entry">
        <h1 class="text-white">Career Detail</h1>
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
          <ul class="list-inline">
            <li><a href="">Career</a></li>
            <li>Career Detail for {{ currentCareer.title }}</li>
          </ul>
        </div>
        <!-- Breadcrumb row END -->
      </div>
    </div>
  </div>
  <!-- inner page banner END -->
  <!-- contact area -->
  <div class="content-block mb-4">
    <!-- Job Detail -->
    <div class="section-full content-inner-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="sticky-top">
              <div class="row">
                <div class="back">
                  <button
                    class="btn btn-primary site-button mb-3 ml-3"
                    [routerLink]="['/careers']"
                    routerLinkActive="router-link-active"
                  >
                    Back
                  </button>
                </div>
                <div class="col-lg-12 col-md-6">
                  <div class="m-b30">
                    <img src="{{ currentCareer.image_url }}" alt="" />
                  </div>
                </div>
                <div class="col-lg-12 col-md-6">
                  <div
                    class="
                      widget
                      bg-white
                      p-lr20 p-t20
                      widget_getintuch
                      radius-sm
                    "
                  >
                    <h4 class="text-black font-weight-700 p-t10 m-b15">
                      Career Details
                    </h4>
                    <ul>
                      <li>
                        <i class="ti-location-pin"></i
                        ><strong class="font-weight-700 text-black"
                          >Address</strong
                        ><span class="text-black-light">
                          Douala Ange Raphael</span
                        >
                      </li>
                      <li>
                        <i class="ti-money"></i
                        ><strong class="font-weight-700 text-black"
                          >Estimated Salary</strong
                        >
                        100 000 FCFA
                      </li>
                      <li>
                        <i class="ti-shield"></i
                        ><strong class="font-weight-700 text-black"
                          >Length of Training</strong
                        >5 Years +
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="job-info-box">
              <h2 class="m-t0 m-b10 font-weight-700 title-head">
                <a href="#" class="text-secondry m-r30"
                  >Job Title: {{ currentCareer.title }}</a
                >
              </h2>
              <div>
                <strong>Description</strong>
                <p class="mt-2">
                  {{ currentCareer.description }}
                </p>
              </div>

              <ul class="job-info">
                <li>
                  <strong>Background: </strong> {{ currentCareer.background }}
                </li>
              </ul>
              <h3 class="p-t30" *ngIf="currentCareer.concours.length !== 0">
                <strong> Concours: </strong>
                <span *ngFor="let concour of currentCareer.concours">
                  {{ concour.name }}
                </span>
              </h3>
              <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
              <h2 *ngIf="currentCareer.institutions">Institutions:</h2>
              <p>
                {{ currentCareer.institutions }}
              </p>
              <h5 class="font-weight-900">
                An aspiring {{ currentCareer.title }} should
              </h5>
              <div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
              <ul class="list-num-count no-round">
                <li>
                  The DexignLab Privacy Policy was updated on 25 June 2018.
                </li>
                <li>Who We Are and What This Policy Covers</li>
                <li>
                  Remaining essentially unchanged It was popularised in the
                  1960s
                </li>
                <li>
                  Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s,
                </li>
                <li>DexignLab standard dummy text ever since</li>
              </ul>
              <a href="#" class="site-button mt-4">See related Careers</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Job Detail -->
  </div>
</div>
