.hero-text h1 {
    font-size: 38px;
    text-transform: capitalize;
    font-weight: 900;
    color: #007BFF;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}

.main {
    font-family: 'Lato', sans-serif;
    padding: 150px 0;
    background-repeat: no-repeat;
}

.hero-text p {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.lead {
    color: #f96814;
    font-size: 15px !important;
}

.leadtext {
    font-size: 16px !important;
}

.lead1 {
    line-height: 25px !important;
}

h3 {
    margin: 0 !important;
}

strong {
    color: #007BFF;
}

.img-fluid {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}