<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card text-center">
        <div class="card-header">{{ currentCareer.title }}</div>
        <div class="card-body">
          <h5 class="card-title">{{currentCareer.concours[3]}}</h5>
          <p class="card-text">
            {{ currentCareer.background }}
          </p>
          <a
            href="#"
            class="btn btn-success d-block my-3"
            [routerLink]="['/careers']"
            >Back</a
          >
          <a href="#" class="btn btn-primary d-block">Apply</a>
        </div>
        <div class="card-footer text-muted">2 days ago</div>
      </div>
    </div>
  </div>
</div>
