<div class="main">
  

<section class="container2">
  <div class="hero-text">
      <div class="container text-white">
        <div class="row">
          <div class="col-md-7 searchbar">
            <h1 class="display-4 mt-5">
              Find the perfect career to briss in Cameroon
            </h1>
            <div>
              <form class="form-inline my-2 my-lg-0">
                <input
                  class="form-control"
                  type="search"
                  placeholder="Engineering"
                  aria-label="Search"
                />
                <button class="btn btn-warning my-2 my-sm-0" type="submit">
                  Search
                </button>
              </form>
            </div>
          <p class="mt-5">
            {{quoteObject.text}}
            {{quoteObject.author}}
          </p>
            <br />
            Popular :
            <span class="badge badge-warning mx-2 p-2"
              >Web Design and Mobile Design</span>
            <span class="badge badge-warning mx-2 p-2">Advocacy</span>
            <span class="badge badge-warning mx-2 p-2">Agriculture</span>
            <span class="badge badge-warning mx-2 p-2">Engineering</span>
          </div>
      
        </div>
      </div>
  </div>
  
  <div class="wave">

  </div>

</section>

</div>