<div class="container-fluid  bg-primary" id="welcome">
  <div class="container text-white">
    <div class="row">
      <div class="col-md-7">
        <h1 class="display-4 mt-5">
          Find the perfect career to briss in Cameroon
        </h1>
        <div>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control"
              type="search"
              placeholder="Engineering"
              aria-label="Search"
            />
            <button class="btn btn-warning my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
        <br />
        Popular :
        <span class="badge badge-warning mx-2 p-2"
          >Web Design and Mobile Design</span>
        <span class="badge badge-warning mx-2 p-2">Advocacy</span>
        <span class="badge badge-warning mx-2 p-2">Agriculture</span>
        <span class="badge badge-warning mx-2 p-2">Engineering</span>
      </div>
      <div class="col-md-5 p-5">
        <figure>
          <img
            src="assets/images/vector.png"
            alt="photo of an engineer"
            height="400px"
            width="400px"
          />
        </figure>
      </div>
    </div>
  </div>
</div>
