<div class="container-fluid dark-body text-white mt-2">
  <div class="row">
   <div class="col-md-1 bloc1">
      <div>
        <img src="assets/icons/icon1.svg" alt="" class="icon2" />
      </div>
      <br>
      <div>
        <img src="assets\icons\home.svg" alt="" class="icon1" />
      </div>
      <br>
      <div>
        <img src="assets/icons/contact.svg" alt="" class="icon2" />
      </div>
      <br>
      <div>
        <img src="assets/icons/chat-message.png" alt="" class="icon3" />
      </div>
      <br>
      <div>
        <img src="assets/icons/menu-chart.svg" alt="" class="icon4" />
      </div>
      <br>
      <div>
        <img src="assets/icons/icons8-clock.svg" alt="" class="icon3" />
      </div>
      <br>
      <div>
        <img src="assets/icons/icons8-settings.svg" alt="" class="icon3" />
      </div>
    </div>
    
    <div class="col-md-10 part2  p-3" >
      <div class="row">
        <div class="col">

            <nav class="navbar  navbar-inverse">
              <div class="container-fluid">
                <a class="navbar-brand brand dash">Dashboard</a>
                <form>
                  <input

                    class="form-control serh"
                    type="search"
                    
                    placeholder="Search"
                    aria-label="Search"
                    
                  />
                  <!-- <span><img src="assets\icons\loop.svg" alt="" style="width: 3rem"></span> -->

                  
                </form>
                
                <div class="">
                  <img
                    src="assets\icons\button-plus.svg"
                    alt=""
                    style="width: 3rem"
                  />
                </div>
                <div class="">
                  <img
                    src="assets\icons\cloche.png"
                    alt=""
                    style="width: 3rem"
                  />
                </div>
                <div class="">
                  <img
                    src="assets\icons\profile.png"
                    alt=""
                    style="width: 3rem"
                  />
                </div>
                <p class="dash">Fadi T</p>
              </div>
            </nav>
          
        </div>
      </div>
      <br />
      <br>
      <div class="row">
        <div class="col-md-7">
          <div class="d-flex justify-content-between">
            <div>
              <p class="dash">Find your teacher</p>
            </div>
            <div>
              <select
                class="form-select form-select-sm"
                aria-label="Default select example"
              >
                <option selected>English</option>
                <option value="1">French</option>
                <option value="2">Spanish</option>
              </select>
            </div>
          </div>
          <div class="d-flex justify-content-between main-prin">
            <div class="d-flex justify-content-around main-prin">
              <img src="assets\icons\cartoon1.png" class="cartoon" alt="" />
              <p>Prof David</p>
            </div>
            <div>
              <p>4 hours lecture</p>
            </div>
            <div>
              <p>$100/hr</p>
            </div>
            <div>
              <img src="assets\icons\dot.png" alt="" class="dot .main-prine" />
            </div>
          </div>
          <br />
          <div class="d-flex justify-content-between main-prin">
            <div class="d-flex justify-content-around main-prin">
              <img src="assets\icons\cartoon2.png" class="cartoon" alt="" />

              <p>Prof.Fadi</p>
            </div>
            <div>
              <p>2 hours lecture</p>
            </div>
            <div>
              <p>$120/hr</p>
            </div>
            <div>
              <img src="assets\icons\dot.png" alt="" class="dot" />
            </div>
          </div>
          <br />
          <div class="d-flex justify-content-between main-prin">
            <div class="d-flex justify-content-around main-prin">
              <img src="assets\icons\cartoon3.png" class="cartoon" alt="" />
              <p>Prof.Alex</p>
            </div>
            <div>
              <p>4 hours lecture</p>
            </div>
            <div>
              <p>$150/hr</p>
            </div>
            <div>
              <img src="assets\icons\dot.png" alt="" class="dot" />
            </div>
          </div>
          <br />
          <br />

          <div class="row">
            <div class="col">
              <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand dash" href="#">Schedule</a>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#"
                      >fev,22<span class="sr-only">(current)</span></a
                    >
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Dropdown
                      </a>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdown"
                      >
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"
                          >Something else here</a
                        >
                      </div>
                    </li>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <br />
          <br />

          <div class="row">
            <br />
            <div class="col ">
              <div class="card part4 text-center" style="width: 15rem">
                <img
                  class="card-img-top text-center"
                  src="assets/icons/profile.png"
                  alt="profile image"
                  style="width: 8rem; height: 8rem"
                />
                <div class="card-body">
                  <h5 class="card-title">Prof.Fady</h5>
                  <p class="card-text">
                    five years experience <br />
                    Master in Programming
                  </p>
                  <a href="#" class="btn btn-primary">Book online</a>
                </div>
              </div>
            </div>
            <div class="col bloc2">
              <div
                class="d-flex  justify-content-around main-prin blox  border border-danger "
              >
                <p class="line">12</p>

                <p>
                  Dec <br />
                  Monday
                </p>
              </div>
              <br />
              <div
                class="d-flex justify-content-around main-prin border blox border-danger "
              >
                <p class="line">13</p>

                <p>Dec <br />Tuesday</p>
              </div>
              <br />
              <div
                class="d-flex justify-content-around main-prin border blox border-warning "
              >
                <p class="line">14</p>

                <p>
                  Dec <br />
                  Wednesday
                </p>
              </div>
            </div>
            <div class="col">
              <div>
                <p>02:00pm-04:00pm</p>
              </div>
              <br />
              <br />
              <br />
              <br>
              <div>
                <p>10:00am-12:00pm</p>
              </div>
              <br />
              <br />
              <br>
              <br>
              <div>
                <p>08:00am-10:00am</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 part3 ">
          <div class="  p-3">
            <p class="dash">My Courses</p>
            <div class="d-flex justify-content-between bloc3 main-prin">
              <div class="d-flex justify-content-around main-prin">
                <img
                  src="assets\icons\book-paper.png"
                  class="cartoon"
                  alt=""
                  style="width: 3rem; height: 3rem"
                />
              </div>
              <div>
                <p>
                  English course <br />
                  20hours
                </p>
              </div>

              <div>
                <img
                  src="assets\icons\dot.png"
                  alt=""
                  class="dot .main-prine"
                />
              </div>
            </div>
            <br />
            <div class="d-flex justify-content-between main-prin">
              <div class="d-flex justify-content-around main-prin">
                <img
                  src="assets\icons\book-yell.png"
                  class="cartoon"
                  alt=""
                  style="width: 3rem; height: 3rem"
                />
              </div>
              <div>
                <p>
                  Spoken course <br />
                  40hours
                </p>
              </div>

              <div>
                <img
                  src="assets\icons\dot.png"
                  alt=""
                  class="dot .main-prine"
                />
              </div>
            </div>
            <br />
            <div class="d-flex justify-content-between main-prin">
              <div class="d-flex justify-content-around main-prin">
                <img
                  src="assets\icons\book-red.png"
                  class="cartoon"
                  alt=""
                  style="width: 3rem; height: 3rem"
                />
              </div>
              <div>
                <p>
                  Writting course <br />
                  20hours
                </p>
              </div>

              <div>
                <img
                  src="assets\icons\dot.png"
                  alt=""
                  class="dot .main-prine"
                />
              </div>
            </div>
            <br />
            <div class="d-flex justify-content-between main-prin">
              <div class="d-flex justify-content-around main-prin">
                <img
                  src="assets\icons\book-blue.png"
                  class="cartoon"
                  alt=""
                  style="width: 3rem; height: 3rem"
                />
              </div>
              <div>
                <p>
                  Language course <br />
                  20hours
                </p>
              </div>

              <div>
                <img
                  src="assets\icons\dot.png"
                  alt=""
                  class="dot .main-prine"
                />
              </div>
            </div>

            <br />
            <br />

            <p class="dash">Account Progress</p>

            <div class="col-md-4 col-md-offset-4">
              
              <div style="position:relative">
                <div class="c100 p74 big">
                  <span class="font-family-Avenir font-size-super">74%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                  <p class="complete-text font-family-primary font-weight-regular"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
