
    <div class="container-fluid bg-dark text-white mt-2">
      <div class="row">
        <div class="col-md-2 bloc1">
          <div>
            <img src="assets/icons/icon1.svg" alt="" class="icon1" />
          </div>
          <div>
            <img src="assets\icons\home.svg" alt="" class="icon2" />
          </div>
          <div>
            <img src="assets/icons/contact.svg" alt="" class="icon2" />
          </div>
          <div>
            <img src="assets/icons/chat-message.png" alt="" class="icon2" />
          </div>
          <div>
            <img src="assets/icons/menu-chart.svg" alt="" class="icon2" />
          </div>
          <div>
            <img src="assets/icons/icons8-clock.svg" alt="" class="icon2" />
          </div>
          <div>
            <img src="assets/icons/icons8-settings.svg" alt="" class="icon2" />
          </div>
        </div>
        <div class="col-md-7">
          <div>
            <nav class="navbar navbar-light bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand brand">Dashboard</a>
                <form class="d-flex">
                  <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                  />
                </form>
              </div>
            </nav>
          </div>

          <div class="d-flex justify-content-between">
            <div>
              <p>Find your teacher</p>
            </div>
            <div>
              <select
                class="form-select form-select-sm"
                aria-label="Default select example"
              >
                <option selected>English</option>
                <option value="1">French</option>
                <option value="2">Spanish</option>
              </select>
            </div>
          </div>
          <div class="d-flex justify-content-between main-prin">
            <div class="d-flex justify-content-around main-prin   ">
              <img src="assets\icons\cartoon1.png" class="cartoon" alt="" />
              <p >Prof David</p>
            </div>
            <div>
              <p>4 hours lecture</p>
            </div>
            <div>
              <p>$100/hr</p>
            </div>
            <div>
              <img src="assets\icons\dot.png" alt="" class="dot .main-prine" />
            </div>
          </div>
          <div class="d-flex justify-content-between main-prin">
            <div class="d-flex justify-content-around main-prin ">
              <img src="assets\icons\cartoon2.png" class="cartoon" alt="" />

              <p>Prof.Fadi</p>
            </div>
            <div>
              <p>2 hours lecture</p>
            </div>
            <div>
              <p>$120/hr</p>
            </div>
            <div>
              <img src="assets\icons\dot.png" alt="" class="dot" />
            </div>
          </div>
          <div class="d-flex justify-content-between main-prin">
            <div class="d-flex justify-content-around main-prin ">
              <img src="assets\icons\cartoon3.png" class="cartoon" alt="" />
              <p>Prof.Alex</p>
            </div>
            <div>
              <p>4 hours lecture</p>
            </div>
            <div>
              <p>$150/hr</p>
            </div>
            <div>
              <img src="assets\icons\dot.png" alt="" class="dot" />
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <p>my course</p>
        </div>
      </div>
    </div>
